<template>
  <div class="modal" @click="handleClickOutside">
    <div class="modal__wrapper">
      <h1 class="modal__title">{{ title }}</h1>
      <div class="modal__value">
        <slot>Information</slot>
      </div>
      <div v-if="footer" class="modal__buttons">
        <button>Ok</button>
        <button @click="handleCloseModal">Close</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'custom-modal',
  props: {
    open: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: 'Title'
    },
    footer: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleCloseModal() {
      this.$emit('close', false)
    },
    handleClickOutside(event) {
      if (event.target === this.$el) {
        this.handleCloseModal()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.modal {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0 ,0, 0.9);

  &__wrapper {
    display: grid;
    max-height: 500px;
    min-width: 300px;
    grid-template-rows: max-content max-content;
    padding: 20px 30px;
    background: #fff;
    overflow-y: hidden;
  }

  &__buttons {
    text-align: right;

    button:not(:last-child) {
      margin-right: 10px;
    }
  }
}
</style>