<template>
  <div id="app">
    <h1>Выбраная папка: {{ selectedItem ? selectedItem.name : '—' }}</h1>
    <button @click="handleClickOpen">Открыть</button>
    <custom-modal
        v-if="isOpen"
        title="Список папок"
        @close="handleCloseModal"
    >
      <folder-tree
          :data="baseArray"
          :value="selectedItem"
          @close="handleCloseModal"
          @select="handleSelectItem"
      />
    </custom-modal>
  </div>
</template>

<script>

import CustomModal from "@/components/CustomModal";
import FolderTree from "@/components/Tree/FolderTree";

export default {
  name: 'App',
  components: {
    FolderTree,
    CustomModal,
  },
  data() {
    return {
      baseArray: [],
      selectedItem: null,
      isOpen: false,
    }
  },
  methods: {
    handleSelectItem(item) {
      this.selectedItem = item
    },
    handleCloseModal(value) {
      this.isOpen = value
    },
    handleClickOpen() {
      this.isOpen = !this.isOpen
    },
    initData() {
      let i = 0
      const COUNT_ELEMENTS = 6
      const createItem = (number) => {
        return new Array(number).fill(null).map(() => ({
          id: i++,
          name: `Папка - ${i}`,
          folders: createItem(number - 1),
        }))
      }

      this.baseArray = createItem(COUNT_ELEMENTS)
    }

  },
  created() {
    this.initData()
  }
}
</script>

<style lang="scss">
body, html {
  padding: 0;
  margin: 0;
  font-family: "Impact", sans-serif;
}

#app {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: azure;

  h1 {
    font-weight: 500;
  }
}

button {
  font-family: 'Comic Sans MS', sans-serif;
  padding: 10px 20px;
  background: #7ccccc;
  border: 0;
  cursor: pointer;
  transition: all ease-in-out .2s;

  &:hover:not(:disabled) {
    background: #DCDCAFFF;
    color: white;
  }
}
</style>
