<template>
  <li>
    <div :class="{
          'active': isActive(item.id),
          'selected': isSelected(item.id)
        }">
      <span @click="handleSelectFolder">{{ item.name }}</span>
      <span v-if="isFolder" @click="handleOpenList">
        {{ !isOpen ? '[+]' : '[-]' }}
      </span>
    </div>
    <ul v-if="isFolder && isOpen">
      <folder-tree-item
          v-for="element in item.folders"
          :key="element.id"
          :item="element"
      />
    </ul>
  </li>
</template>

<script>
export default {
  name: "folder-tree-item",
  props: {
    item: {
      type: Object
    }
  },
  inject: ['select', 'isActive', 'isSelected', 'provideData'],
  data() {
    return {
      isOpen: false,
    }
  },
  methods: {
    handleOpenList() {
      this.isOpen = !this.isOpen
    },
    handleSelectFolder() {
      this.select(this.item)
    }
  },
  computed: {
    isFolder() {
      return this.item.folders && this.item.folders.length
    },
  },
  created() {
    this.isOpen = this.provideData.path.includes(this.item.id)
  }
}
</script>

<style lang="scss" scoped>
ul {
  list-style: square outside;
}

li {
  cursor: pointer;
}

.selected, .active {
  font-weight: bold;
}

.active {
  color: #ce4c4c;
}
</style>