<template>
  <div class="tree">
    <ul>
      <folder-tree-item
          v-for="item in data"
          :item="item"
          :key="item.id"
      />
    </ul>
    <div class="tree__buttons">
      <button
          :disabled="!selectedItem"
          @click="handleApplyResult"
      >
        Ok
      </button>
      <button @click="handleCloseModal">Close</button>
    </div>
  </div>
</template>

<script>
import FolderTreeItem from "@/components/Tree/FolderTreeItem";

export default {
  name: "folder-tree",
  components: {FolderTreeItem},
  props: {
    data: {
      type: Array,
    },
    value: {
      type: Object
    }
  },
  provide() {
    return {
      select: this.handleSelect,
      isSelected: this.isSelected,
      isActive: this.isActive,
      provideData: this.provideData,
    }
  },
  data() {
    return {
      selectedItem: null,
      provideData: {
        path: [],
      }
    }
  },

  methods: {
    handleSelect(item) {
      this.selectedItem = item
    },
    handleApplyResult() {
      this.$emit('select', this.selectedItem)
      this.handleCloseModal()
    },
    handleCloseModal() {
      this.$emit('close', false)
    },
    handleKeydown(event) {
      if (event.key === 'Enter' || event.key === 'Escape') {
        event.preventDefault()
      }
      event.key === 'Enter' && this.selectedItem && this.handleApplyResult()
      event.key === 'Escape' && this.handleCloseModal()
    },
    isActive(id) {
      return this.value?.id === id
    },
    isSelected(id) {
      return this.selectedItem?.id === id
    },
    calculatePath() {
      const handler = (acc, item) => {
        if (acc === false && item.id === this.value?.id) return []
        if (acc === false && item.folders) {
          const result = item.folders.reduce(handler, false)
          return result ? [...result, item.id] : false
        }
        return acc
      }

      this.provideData.path = this.data.reduce(handler, false) || []
    },
  },

  created() {
    document.addEventListener('keydown', this.handleKeydown)
    this.calculatePath()
  },

  beforeDestroy() {
    document.removeEventListener('keydown', this.handleKeydown)
  },
}
</script>

<style lang="scss" scoped>

.tree {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }

  ul {
    max-height: 350px;
    padding: 0 20px;
    font-family: 'Comic Sans MS', sans-serif;
    list-style: square outside;
    overflow-y: scroll;
    overflow-x: auto;
  }

  &__buttons {
    text-align: right;

    button {
      &:first-child {
        margin-right: 10px;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
</style>